
<main class="main">
  <h1>Angular Practice</h1>
</main>
<div class="grid-container">
  <div>
      <h3>Product details:</h3>
      <h6 *ngIf="products.length<1">
          No Products found! </h6>

      <table *ngIf="products.length>0">
          <tr>
              <th>Sl no</th>
              <th>Name</th>
              <th>Price</th>
          </tr>
          <tr *ngFor="let product of products | sortProduct">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
          </tr>
      </table> 
  </div>
</div>

<div>
  <h3>Two way binding</h3>
  <form>
    <label for="name">Name:</label><br>
    <input type="text" name="name" [(ngModel)]="userName">
    <button (click)="addName()">Add</button>
    <button (click)="clearName()" >Clear</button>
  </form>
</div>


<div>

  <!-- <h3>
    {{"india" | uppercase}}
  </h3>
  <h2>{{5|power : 3}}</h2>
  <h2>{{'=' | concate : "India" : "Chennai" : "Ford"}}</h2> -->
  
</div>  

<router-outlet />
